{% extends 'admin/base/write.html' %}
{% load admin_tags %}

{% block write_action %}{% url 'blog:save-post' %}{% endblock %}

{% block write_sidebar %}
<div class="panel panel-default wfb-series-select">
	<div class="panel-heading">Series</div>
	<div class="panel-body">
		{% select_series writing %}
	</div>
</div>
<div class="panel panel-default wfb-splash">
	<div class="panel-heading">Splash Image</div>
	<div class="panel-body">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#file-uploader">Upload Files</button>
	</div>
</div>
<div class="panel panel-default wfb-files-preview">
	<div class="panel-heading">Preview Files</div>
	<div class="panel-body">
	</div>
</div>
{% endblock %}