{% extends 'blog-admin/write-base.html' %}

{% block extra %}
{% if not hide_extra %}
	<div class="form-group">
		<label for="post-excerpt">Excerpt</label>
		<textarea class="form-control" id="post-excerpt" name="excerpt" placeholder="Excerpt">{{ writing.excerpt }}</textarea>
	</div>
	<div class="form-group">
		<label for="post-key-points">Key Points</label>
		<textarea class="form-control" id="post-key-points" name="key-points" placeholder="Key Points">{{ writing.key_points }}</textarea>
	</div>
{% endif %}
{% endblock %}