#write-form {
	.title-wrap {
		margin: 10px 0;
	}
	
	#epiceditor {
		margin: 10px 0;
	}
	
	textarea {
		height: 200px;
	}
	
	.write-form-box {
		margin: 10px 15px 15px 15px;
		border: 1px solid lightgray; 
		padding: 15px;
	}
}

#file-uploader {
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	
	.modal-dialog {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		margin: 0;
	}
	
	.modal-content {
		height: 100%;
	}
	
	.modal-footer {
		position: absolute;
		bottom: 0;
		right: 0;
	}
} 
