.example-panel {
	border-left: 4px solid #ed6421;
	padding: 10px 20px;
	
	.example-title {
		border-bottom: 1px solid #c0bfbf;
		
		h4 {
			margin-top: 0;
		}
	}
	
	.example-content {
		padding: 10px;
	}
}

blockquote.eye-catch {
	margin: 15px 20px;
	padding: 15px;
	border: 0;
	text-indent: 35px;
	background-image: url(quote.gif);
	background-position: top left;
	background-repeat: no-repeat;
	
	p {
		padding: 0 30px;
	}
	
	span {
		display: block;
		background-image: url(quote.gif);
		background-repeat: no-repeat;
		background-position: bottom right;
	}
}