html, 
body {
	height: 100%;
}

.site-main-container {
	background: #f5f6f7;
	min-height: 100%;
}

.post-title {
	border-bottom: 1px solid #78685c;
	margin-bottom: 15px;
	
	h1 {
		margin: 20px 8px;
	}
}

.post-content {
	margin-bottom: 25px;
}

.post-info {
	border-top: 3px solid #430fbb;
	background: #b3d5f7;
	.row {
		padding: 10px;	
	}	
}

.post-content {
	h1, .h1,
	h2, .h2, 
	h3, .h3, 
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		font-family: Hevetica, AppleSDGothic, "Nanum Barun Gothic", "Malgun Gothic", sans-serif;
		font-weight: bold;
	}
}

$facebook-color: #43609c;
$twitter-color: #55acee;
$pinterest-color: #b31920;
$youtube-color: #e62117;

.share {
	padding: 10px 0;
	
	h3 {
		margin-top: 0;
		font-weight: bold;
	}
	
	a {
		display: block;
		color: white;
		margin: 5px;
		padding: 8px;
		
		.fa {
			width: 25px;
		}
		
		&:hover {
			text-decoration: none;
		}
	}
	
	.twitter-share-btn {
		background: $twitter-color;
		
		&:hover {
			background: darken($twitter-color, 10%)
		}
	}
	
	.facebook-share-btn {
		background: $facebook-color;
		
		&:hover {
			background: darken($facebook-color, 10%)
		}
	}
	
	.pinterest-share-btn {
		background: $pinterest-color;
		
		&:hover {
			background: darken($pinterest-color, 10%)
		}
	}
}

.sns-list {
	margin-bottom: 20px;
	background-color: #d8dce1;
	border-top: 1px solid darken(#ccdbf5, 10%);
	border-bottom: 1px solid darken(#ccdbf5, 10%);
	
	$sns-list-text-color: rgb(0, 30, 74); 
	
	a {
		color: $sns-list-text-color;
		font-size: 32px;
		padding: 10px;
		
		&:hover {
			color: lighten($sns-list-text-color, 10%);
		}
	}

	ul {
		margin: 0 auto;
		width: 330px;
		padding: 20px 0;
	}

	li {
		list-style: none;
		width: 60px;
		text-align: center;
		display: inline-block;
		border-radius: 10px;
		margin-right: 5px;
	}
}

@import "expanders.scss";