{% extends 'admin/layout.html' %}
{% load staticfiles %}
{% load common_tags %}

{% block page_title %}Activities{% endblock %}

{% block content %}
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Date</th>
			<th>Message</th>
		</tr>
	</thead>
	<tbody>
		{% for a in activities %}
			<tr>
				<td class="col-md-2">{{ a.date }}</td>
				<td class="col-md-10">{% include a.template with activity=a index=forloop.counter0 %}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<div class="text-center">
	{% pagination page_context %}
</div>
{% endblock %}

{% block script_at_bottom %}
{% endblock %}