{% extends 'admin/layout.html' %}
{% load admin_tags %}

{% block page_title %}Settings{% endblock %}

{% block content %}
<form class="form-horizontal" action="{% url 'blog:admin-save-settings' %}" method="POST">
{% csrf_token %}
{% horizontal 'Akismet Key' akismet_key %}
{% horizontal 'Stripe Public Key' stripe_public_key %}
{% horizontal 'Stripe Private Key' stripe_private_key %}
{% horizontal 'Paypal Client ID' paypal_client_id %}
{% horizontal 'Paypal Client Secret' paypal_client_secret %}
{% horizontal 'Paypal Mode' paypal_mode %}
{% horizontal 'Twitter App Key' twitter_app_key %}
{% horizontal 'Twitter App Secret' twitter_app_secret %}
{% horizontal 'Twitter OAUTH Token' twitter_oauth_token %}
{% horizontal 'Twitter OAUTH Token Secret' twitter_oauth_token_secret %}
<div class="form-group settings-save-button-wrap">
	<button type="submit" class="btn btn-primary">Save</button>
</div>
</form>
{% endblock %}