{% extends 'admin/base/write.html' %}

{% block extra %}
<div class="form-horizontal">
	<div class="form-group">
		<label for="lead-magnet-slug" class="col-md-3 control-label">Lead Magnet Slug</label>
		<div class="col-md-9">
			<input type="text" class="form-control" id="lead-magnet-slug" name="lead-magnet-slug" value="{{content.lead_magnet_slug}}"/>
		</div> 
	</div>
	<div class="form-group">
		<label for="thankyou-page" class="col-md-3 control-label">Thank You Page</label>
		<div class="col-md-9">
			<input type="text" class="form-control" id="thankyou-page" name="thankyou-page" value="{{content.thankyou_page}}"/>
		</div>	
	</div>
</div>
{% endblock %}