{% extends 'admin/layout.html' %}
{% load admin_tags %}
{% load common_tags %}

{% block content %}
{% block add_new %}{% endblock %}
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Title</th>
			{% block header_others %}{% endblock %}
		</tr>
	</thead>
	<tbody>
		{% for w in contents %}
		<tr>
			<td>
				<a href="{% url url_name slug=w.slug %}">{{ w.title }}</a>
				{% content_menu menu_context w.slug %}
			</td>
			{% block data_others %}{% endblock %}
		</tr>
		{% endfor %}
	</tbody>
</table>
<div class="text-center">
	{% pagination page_context %}
</div>
{% endblock %}