{% extends 'admin/layout.html' %}

{% load staticfiles %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block content %}
<form id="write-form" action="{% block write_action %}{% endblock %}" method="POST">
	<input type="hidden" name="add-new" value="{{add_new}}">
	<div class="col-md-8">
		{% csrf_token %}
		<input type="hidden" name="slug" value="{{ writing.slug }}" />
		<div class="title-wrap">
			<input type="text" class="form-control" name="title" value="{{ writing.title }}" placeholder="Title" />
		</div>
		<input id="write-content" type="hidden" name="content" value="{{ writing.content }}" />
		<div id="epiceditor" style="height:500px"></div>
		{% block extra %}
			<div class="form-group">
				<label for="post-excerpt">Excerpt</label>
				<textarea class="form-control" id="post-excerpt" name="excerpt" placeholder="Excerpt">{{ writing.excerpt }}</textarea>
			</div>
			<div class="form-group">
				<label for="post-key-points">Key Points</label>
				<textarea class="form-control" id="post-key-points" name="key-points" placeholder="Key Points">{{ writing.key_points }}</textarea>
			</div>
		{% endblock %}
	</div>
	<div class="col-md-4">
		<div class="panel panel-default wfb-publish">
			<div class="panel-heading">Publish</div>
			<div class="panel-body">
				<button type="submit"" class="btn btn-default">Submit</button>
			</div>
		</div>
		{% block write_sidebar %}{% endblock %}
	</div>
</form>
{% endblock %}

{% block script_at_bottom %}
<script src="{% static 'epiceditor/js/epiceditor.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    var editor = new EpicEditor({basePath: '{% static "epiceditor" %}'}).load();
    editor.importFile('', $('#write-content').val() )
    $('#write-form').submit(function(){
        $('#write-content').val(editor.exportFile())
    })
})
</script>
{% include 'admin/file-uploader.html' %}
{% endblock %}