{% extends 'blog-admin/base.html' %}

{% load staticfiles %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block content %}
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Comment</th>
			<th>Post</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		{% for c in comments %}
			<tr>
				<td>{{ c.name }}</td>
				<td>{{ c.content }}</td>
				<td>{{ c.post_slug }}</td>
				<td>{{ c.time }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block script_at_bottom %}
{% endblock %}