<!-- Modal -->
<div class="modal fade" id="file-uploader" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">File Uploader</h4>
			</div>
			<div class="modal-body">
				<div class="col-md-2">
				</div>
				<div class="col-md-7">
				</div>
				<div class="col-md-3">
				</div>
			</div>
			<div class="modal-footer">
				<div class="button-wrap">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Insert Post</button>
				</div>
			</div>
		</div>
	</div>
</div>