{% extends 'admin/base/write.html' %}
{% load admin_tags %}

{% block content %}
<form class="form-horizontal" method="POST">
	{% csrf_token %}
	<input type="hidden" name="add-new" value="{{add_new}}">
	{% if not add_new %}
	<input type="hidden" name="slug" value="{{ content.slug }}" />
	{% endif %}
	{% horizontal 'Title' content.title %}
	{% horizontal 'Platform' content.platform %}
	{% horizontal 'Term' content.term %}
	{% horizontal 'Hash Tags' content.hashtags|comma_list 'hashtags' %}
	{% horizontal 'Current' content.current %}
	<div class="pull-right">
		<button type="submit" class="btn btn-default">Submit</button>
	</div>
</form>
{% endblock %}

