{% load staticfiles %}
{% load blog_tags %}

<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{% block title %}WiseInit Korean | Learn & Apply Your Korean Here ! {% endblock %}</title>
	<link rel="profile" href="http://gmpg.org/xfn/11">
	
	<link rel='stylesheet' id='font-awesome-css'  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" type='text/css' media='all' />
	<link rel='stylesheet' id='wiseinit-style' href="{% static 'blog/style.css' %}" type="text/css" media='all' />
	
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="{% static 'blog/bootstrap.min.js' %}"></script>
	<script src="{% static 'blog/bootstrap-tabcollapse.js' %}"></script>
	<script src="{% static 'blog/front.js' %}"></script>
</head>

<body class="">
{% block body %}{% endblock %}
{% block script %}{% endblock %}
</body>
{% autoescape off %}
{% google_analytics %}
{% endautoescape %}
</html>