{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block content %}
<div class="series col-md-offset-2 col-md-8">
<article>
	<div class="series-head">
		<div class="writing-title">
			<h1>{{ series.title }}</h1>
		</div>
		<div class="series-subtitle"></div>
	</div>
	<div class="series-img">
	</div>
	<div class="writing-content">
		{% autoescape off %}
		{{ series.content }}
		{% endautoescape %}
	</div>
	<div class="series-key-points">
		{{ series.key_points }}
	</div>
	<div class="series-toc">
	</div>
</article>
{% share series %}
</div>
{% endblock %}