<div class="share">
	<div class="row">
		<div class="col-md-8">
			<h3>Share What You Just Learned!</h3>
			<blockquote>
				<p>Those who teach what they are learning are, by far, the greatest students.</p>
				<footer>Steven Covey in <cite title="Source Title">The 8th Habit</cite></footer>
			</blockquote>
		</div>
		<div class="col-md-4">
			<a class="twitter-share-btn" href="http://twitter.com/intent/tweet?status={{share.title}}+{{share.url}}"><i class="fa fa-twitter"></i>Twitter</a>
			<a class="facebook-share-btn" href="http://www.facebook.com/share.php?u={{share.url}}&title={{share.title}}"><i class="fa fa-facebook"></i>Facebook</a>
			<a class="pinterest-share-btn" href="http://pinterest.com/pin/create/bookmarklet/?url={{share.url}}&is_video=false&description={{share.title}}"><i class="fa fa-pinterest"></i>Pinterest</a>
		</div>
	</div>
</div>