{% extends 'blog/base.html' %}

{% block content %}
<article class="post col-md-offset-2 col-md-8">
<div class="post-head">
	<div class="series">
		<a class="category" href="">{{ post.category.name }}</a>
		<a class="series" href="">{{ post.series.name }}</a>
	</div>
	<div class="post-title">
		<h1>{{ post.title }}</h1>
	</div>
</div>
<div class="post-img">
	<img src="" />
</div>
<div class="post-content">
	{{ post.content}}	
</div>
</article>
<div class="share">
</div>
<div class="lead-magnet-offer">
</div>
<div class="next-in-the-series">
</div>
<div class="author">
</div>
<div class="learn-more">
</div>
{% endblock %}