{% load blog_tags %}
{% url 'blog:distribute-post' content.slug as the_url %}
<div class="post-summary">
	<div class="post-summary-title">
		<h2><a href="{{ the_url|unquote }}">{{ content.title }}</a></h2>
	</div>
	{% if content.splash_image %}
	<div class="post-summary-img">
		<img src="{% uploads splash_image %}" alt="{{content.title}} splash image" />
	</div>
	{% endif %}
	{% if content.key_points %}
	<div class="post-summary-key-points">
		<div class="key-points-title">
			<h4><i class="fa fa-arrow-right"></i> Key Points</h4>
		</div>
		<div class="key-points-content">
			{{ post.key_points }}
		</div>
	</div>
	{% endif %}
	<div class="post-summary-excerpt">
		{% if content.excerpt %}
			{{ post.excerpt }}
		{% else %}
			{{ content.content|remove_tags|remove_audio_headline|markdown|truncatewords_html:60 }}
		{% endif %}
		<a class="btn btn-info" href="{{ the_url|unquote }}">Read More</a>
	</div>
</div>