{% load common_tags %}
<nav>
	<ul class="pagination">
	{% if previous_page %}
		<li>
			<a href="{{ url_format|simpleformat:previous_page }}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
	{% endif %}
	{% for i in range %}
		<li {%if i == current%}class="active"{%endif%}><a href="{{ url_format|simpleformat:i }}">{{ i }}</a></li>
	{% endfor %}
	{% if next_page %}
		<li>
			<a href="{{ url_format|simpleformat:next_page }}" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	{% endif %}
	</ul>
</nav>