{% extends 'admin/layout.html' %}

{% block page_title %}Orders{% endblock %}

{% block content %}
<table class="table table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Date</th>
			<th>Email</th>
			<th>Product</th>
			<th>Payment</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		{% for o in orders %}
		<tr>
			<td>{{o.number}}</td>
			<td>{{o.date}}</td>
			<td>{{o.email}}</td>
			<td><a href="{% url 'blog:edit-product' slug=o.product_slug %}">{{ o.product_name }}</a></td>
			<td>{{o.payment_method}}</td>
			<td>{{o.status}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>	
{% endblock %}