{% extends 'admin/base/write.html' %}
{% load admin_tags %}

{% block write_action %}{% url 'blog:save-product' %}{% endblock %}

{% block input_content %}
<ul class="nav nav-tabs">
	<li role="presentation" class="active"><a href="#writing-content-page" data-toggle="tab">Content</a></li>
	<li role="presentation"><a href="#thank-you-message-page" data-toggle="tab">Thank You</a></li>
</ul>
<div id="writing-tab-contents" class="tab-content">
	<div class="tab-pane fade in active" id="writing-content-page">
		<textarea id="write-content" class="form-control" style="height:500px;" type="hidden" name="content" rows="15">{{ writing.content }}</textarea>
	</div>
	<div class="tab-pane fade" id="thank-you-message-page">
		<div class="form-group">
			<textarea id="thank-you-message" class="form-control" style="height:500px;" type="hidden" name="thank-you" rows="15">{{ writing.thank_you }}</textarea>
		</div>
	</div>
</div>
{% endblock %}

{% block extra %}
<div class="form-group">
	<label for="excerpt">Excerpt</label>
	<textarea class="form-control" id="excerpt" name="excerpt" placeholder="Excerpt">{{ writing.excerpt }}</textarea>
</div>
<div class="form-group">
	<label for="price">Price</label>
	<input class="form-control" id="price" name="price" value="{{ writing.price }}" />
</div>
<div class="form-horizontal">
	<label>Files</label>
	{% for file in writing.files %}
	<div class="form-group">
		{% with "filename-{0}"|simpleformat:forloop.counter0 as filename %}
		<div class="col-sm-10">
			<input class="form-control" id="{{ filename }}" name="{{ filename }}" value="{{ file }}" />
		</div>
		<div class="col-sm-2">
			{% upload_button 'Upload' folder='restricted' multiple=False text_target=filename %}
		</div>
		{% endwith %}
	</div>
	{% endfor %}
</div>
{% endblock %}

{% block write_sidebar %}
<div class="panel panel-default wfb-splash">
	<div class="panel-heading">Thumbnail Image
		<span class="pull-right">
			{% upload_button "Upload" multiple=False text_target="thumbnail" %}
		</span>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<input class="form-control" id="thumbnail" name="thumbnail" value="{{writing.thumbnail}}" />
		</div>
	</div>
</div>
<div class="panel panel-default files-preview">
	<div class="panel-heading">Preview Files 
		<span class="pull-right">
			{% upload_button "Choose a File" %}
		</span>
	</div>
	<div class="panel-body">
	</div>
</div>
{% endblock %}

